.header {
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: 20px 24px;
  background-color: #ffffff;

  &__btn-box {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 8px;
  }

  &__top {
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 16px;

    &__input {
      font-size: 2rem;
      font-weight: 700;
      outline: none;

      &::placeholder {
        color: #c4c4c4;
      }
    }

    &__bottom {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
