* {
  // box-sizing: border-box;
  // margin: 0;
  // padding: 0;

  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

.page {
  width: 100vw;
  height: 100vh;

  max-width: 1140px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  &__aside {
    width: 282px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 20px 24px;
    gap: 12px;

    background-color: #ffffff;
    border-left: 1px solid #f4f4f5;
    border-right: 1px solid #f4f4f5;
  }

  &__main {
    width: calc(100% - 282px);
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-color: #f9f9f9;
    border-right: 1px solid #f4f4f5;
  }
}
