.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 920px;
  height: 100svh;

  border-color: #f9f9f9;
  border-right: 1px solid #e6e6e6;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    width: 100%;

    background-color: #ffffff;

    &__contents {
      display: flex;
      flex-direction: column;

      width: 100%;

      padding: 20px 28px;
      margin-top: 68px;

      .input {
        font-size: 36px;
        font-weight: 700;

        outline: none;

        &::placeholder {
          color: #c4c4c4;
        }
      }

      .progressBar {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        gap: 16px;
        margin: 8px 0 16px 0;

        &__status {
          color: #6d6d6d;
        }
        &__calendar {
          display: flex;
          align-items: center;

          gap: 20px;
        }
      }

      .calendarBox {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__calendar {
          display: flex;
          align-items: center;

          gap: 20px;
        }
      }
    }
  }

  &__body {
    display: flex;
    align-items: center;

    width: 100%;
    height: calc(100% - 250px);

    padding: 28px 16px;
    &__infoBox {
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        font-size: 24px;
        font-weight: 700;
        color: #454545;
      }

      .subTitle {
        margin: 14px 0 28px 0;
        font-size: 18px;
        color: #454545;
      }

      .button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 74px;
        height: 74px;

        outline: null;
        border: none;
        cursor: pointer;
      }
    }
  }
}
